/* @import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap'); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(images/whiteDigitalBG.avif) no-repeat center center fixed;
    background-size: cover;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 50px;
    background-color: rgb(90, 90, 90);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
}

.logo {
    position: relative;
    height: 40px;
    width: 40px;
    margin-right: auto;
    background-color: rgb(90, 90, 90);
    border: 2px solid white;
    border-radius: 50%;
    animation: rotate 4s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logo:hover {
    border: 2px solid skyblue;
    cursor: pointer;
}

.nav_links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(90, 90, 90);
}

.nav_links li {
    background-color: rgb(90, 90, 90);
    color: whitesmoke;
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.nav_links li:hover {
    color: skyblue;
    cursor: pointer;
}

.contact {
    margin-left: 20px;
    background-color: rgb(90, 90, 90);
    border: none;
    border-radius: 50px;
    color: whitesmoke;
    transition: all 0.3s ease 0s;
    border: 1px solid whitesmoke;
    padding: 5px;
    position: relative;
}

.contact:hover {
    background-color: whitesmoke;
    color: rgb(90, 90, 90);
    cursor: pointer;
}

.page_view {
    /* background: url(images/whiteDigitalBG.avif) no-repeat center center fixed;
    background-size: cover; */
    background: salmon;
    height: 100%;
    width: 60%;
    top: 100px;
    position: relative;
    border: 1px solid black;
    padding: 5%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.page_heading {
    position: relative;
    text-align: center;
    color: black;
}

.coursework_list {
    list-style: none;
    margin: 10px;
}

.coursework_list li:hover {
    color: black;
}

hr {
    margin: 20px;
}

.education_key_term {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    background-color: gray;
}

.education_key_term:hover {
    animation: color_shift 1s ease-in-out both infinite alternate-reverse;
}

@keyframes color_shift {
    0% {
        background-color: black;
    }

    /* 50% {
        background-color: lightblue;
    } */

    100% {
        background-color: gray;
    }
}