/* @import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap'); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: url(images/whiteDigitalBG.avif) no-repeat center center fixed; */
    background-color: black;
    background-size: cover;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    padding: 10px 50px;
    background-color: black;
    border: 1px solid white;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
}

.logo {
    position: relative;
    height: 3vi;
    width: 3vi;
    margin-right: auto;
    background-color:black;
    border: 2px solid white;
    border-radius: 50%;
    animation: rotate 4s cubic-bezier(1, 0.05, 0.5, 0.06) forwards infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logo:hover {
    border: 2px solid skyblue;
    cursor: pointer;
}

.nav_links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.5vi;
    background-color: black;
}

.nav_links li {
    background-color: black;
    color: whitesmoke;
    display: inline-block;
    padding: 0 2vi;
    position: relative;
}

.nav_links li:hover {
    color: skyblue;
    cursor: pointer;
}

.contact {
    margin-left: 2vi;
    background-color: black;
    /* border: none; */
    /* border-radius: 50px; */
    font-size: 1.3vi;
    color: whitesmoke;
    transition: all 0.3s ease 0s;
    border: 1px solid whitesmoke;
    padding: 0.5vi;
    position: relative;
}

.contact:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.page_view {
    background: rgb(15, 23, 42);
    height: 100%;
    width: 72vi;
    top: 8vi;
    position: relative;
    border: 1px solid white;
    padding: 5vi;
    padding-top: 1vi;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: darkgray;
}

.page_heading {
    position: relative;
    text-align: center;
    color: white;
}

.coursework_includes {
    color: white;
    font-size: 24px;
}

.coursework_list {
    list-style: none;
    margin: 10px;
}

.coursework_list li {
    font-size: 22px;
    color: darkgray;
}

/* .coursework_list li:hover {
    color: black;
} */

hr {
    margin: 20px;
}

.education_key_term {
    /* border: 1px solid black; */
    width: 40%;
    padding: 2px;
    /* background-color: gray; */
    color: white;
}

.education_description {
    line-height: 50px;
}

/* .education_key_term:hover {
    animation: color_shift 1s ease-in-out both infinite alternate-reverse;
} */

@keyframes color_shift {
    0% {
        background-color: black;
    }

    /* 50% {
        background-color: lightblue;
    } */

    100% {
        background-color: gray;
    }
}

.internship {
    /* border: 2px solid whitesmoke; */
    color: darkgray;
    padding: 10px;
}

/* .internship:hover {
    background-color: rgb(15, 23, 42);
} */

.internship_description {
    text-align: left;
}

.internship_description li {
    margin: 10px;
    font-size: 22px;
    list-style: none;
}

.internship_description li p b {
    font-size: 24px;
    color: white;
}

/* .internship_description li p b:hover {
    color: gray;
} */

.internship_name {
    text-align: left;
    color: white;
}

.internship_date {
    text-align: left;
}

.company_name {
    text-decoration: none;
    color: white;
    /* border: 1px solid black; */
    padding: 3px;
}

.company_name:hover {
    color: aqua;
    /* background-color: black; */
}

.resume_pdf {
    height: 0px;
    width: 90%;
    top: 30px;
    position: relative;
    display: inline-block;
}

.home_description {
    color: darkgray;
    line-height: 30px;
    font-size: 24px;
}

.home_description b {
    color: white;
}

/* .home_description b:hover {
    color: gray;
} */

.inflate_resume {
    top: 20px;
    position: relative;
    display: inline-block;
    border-radius: 50px;
    height: fit-content;
    padding: 3px;
}

.inflate_resume:hover {
    cursor: pointer;
}

.contact_me {
    color: cyan;
}

.contact_me:hover {
    /* color: blueviolet; */
    cursor: pointer;
}

.github_link {
    text-decoration: none;
    color: cyan;
}

/* .github_link:hover {
    color: blueviolet;
    cursor: pointer;
} */

.contact_link {
    text-decoration: none;
    color: white;
    font-size: 2vi;
    width: fit-content;
}

.contact_link:hover {
    color: cyan;
    cursor: pointer;
}

.contact_name {
    color: white;
    font-size: 2vi;
}

.skill_category {
    padding-left: 3vi;
    padding-right: 3vi;
}

.skill_list {
    list-style: none;
}

.skill_description {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}

.skill_description li {
    position: relative;
    margin: 0.5vi;
    /* border: 1px solid white; */
    padding: 0.5vi;
    font-size: 1vi;
}

/* .skill_description li:hover {
    background-color: gray;
} */

.skill_category_name {
    text-align: left;
    bottom: 1vi;
    position: relative;
    color: white;
}

.skill {
    text-align: left;
}

.project {
    padding-left: 3vi;
    padding-right: 3vi;
    padding-top: 0.2vi;
    text-align: left;
}

/* .project:hover {
    background-color: rgb(15, 23, 42);
} */

.project_header {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.project_link {
    text-decoration: none;
    color: white;
    text-align: left;
    display: inline-flex;
    position: relative;
    /* border: 1px solid white; */
    padding: 0.5vi;
    width: fit-content;
    font-size: 1.3vi;
}

.project_link:hover {
    color: cyan;
}

.project_language {
    left: 1vi;
    position: relative;
    display: inline-flex;
    margin-left: auto;
    color: white;
    font-size: 1.5vi;
}

.project_description {
    list-style: none;
    text-align: left;
    padding: 1vi;
}

.project_description li {
    margin-bottom: 1.5vi;
    font-size: 1.5vi;
}

.card_solution {
    /* border: 2px solid black;  */
    color: white;
}

.game_description {
    color: white;
}